**/target/
/.idea/
**/*.iml
**/.project
**/.settings/
**/dependency-reduced-pom.xml
**/.classpath
**/.cache
**/.factorypath
**/.springBeans
**/logs
**/*.log
**/.flattened-pom.xml
**/META-INF/

node_modules/
metastore_db/
**.log
**.pid
log
package.json
package-lock.json
/log/
